.game_page_hero {
    position: fixed;
    z-index: -1;
    width: 120%;
	left: -10%;
	filter: saturate(0.8) opacity(0.8);
    -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 100%),radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66, 66, 66, 0) 0%, #333333 100%),radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%);
    mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66, 66, 66, 0) 0%, #333333 100%),radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%);
    -webkit-mask-composite: source-in;
    mask-composite: source-in;
}

body {
	background: #181a21 !important;
}

.main_content_ctn {
	background-color: #181a21;
	border: none !important;
	border-radius: 4px !important;
	padding: 30px 0;
}

.page_content {
	width: 630px !important;
	margin-top: 80px !important;
	margin-bottom: 50px !important;
}

.agegate_text_container.btns {
	margin-top: 20px !important;
	height: unset !important;
}

div.agegate_text_container > h2 {
	font-weight: 500 !important;
}

.agegate_text_container .img_ctn {
	margin: 0 0 15px 0 !important;
}

.agegate_content_descriptors_notes {
	font-weight: 400 !important;
	font-size: 14px !important;
	color: #afafaf !important;
}

.agegate_tags {
	margin: 0 auto !important;
}

.agegate_birthday_selector {
	background: rgba(0,0,0,.25) !important;
	border-radius: 3px !important;
}

.agegate_birthday_desc {
	color: #1999ff !important;
	font-weight: 500 !important;
	letter-spacing: .02em !important;
	user-select: none !important;
}

#app_agegate select {
	color: #dfe3e6 !important;
	appearance: none !important;
	background: rgba(59,63,72,.5) url("data:image/svg+xml,%3Csvg fill='%23189cff' viewBox='0 0 128 128' x='0' y='0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='50 59.49 13.21 22.89 4.74 31.39 50 76.41 95.26 31.39 86.79 22.89 50 59.49'/%3E%3C/svg%3E") no-repeat !important;
	background-position: 100% 3px !important;
	padding-right: 26px !important;
	padding-left: 6px !important;
}

#app_agegate select option {
	background: #373c44 !important;
	color: #dfe3e6 !important;
}

.btnv6_blue_hoverfade {
	background: #3d4450 !important;
	width: 150px !important;
	font-weight: 400 !important;
	padding: 0 !important;
	transition: all .2s ease-out !important;
}

.btnv6_blue_hoverfade span {
	color: #dfe3e6 !important;
}

.btnv6_blue_hoverfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	background: #464d58 !important;
    color: #fff !important;
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%) !important;
}

.btn_medium > span {
	font-size: 14px !important;
	line-height: 32px !important;
	padding: 0 !important;
}