/* Changes the main background color */
body {
    background: #1c232f !important;
}

/* Design for custom game background */
.game_page_hero {
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: saturate(0.8) opacity(0.8);
    height: 650px;
    object-fit: cover;
    -webkit-mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66, 66, 66, 0) 0%, #333333 100%),radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%);
    mask: linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66, 66, 66, 0) 0%, #333333 100%),radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%);
    -webkit-mask-composite: source-in;
    mask-composite: source-in;
}

/* Improve achievements table */
.pagecontent {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif !important;
}

.maincontent {
    background: rgb(0 0 0 / 31%) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 12px 12px 1px 12px !important;
}

#mainContents {
    padding: 0 !important;
}

#headerContent, #topSummaryBoxContent {
    background: none !important;
    min-height: 0 !important;
    padding: 6px 10px !important;
}

#headerContentLeft, #headerContentRight {
    color: #dcdedf !important;
}

#headerContentLeft .wt {
    color: #fff !important
}

/* Removes the tab menu that isn't even used, duplicate achievement images and useless <br> elements on some pages */
#tabs, #subtabs, .compareImg, #topSummaryLeft br:first-child{
    display: none;
}

/*
    Valve literally uses a image for a single background color with a box shadow
    See https://community.akamai.steamstatic.com/public/images/profile/profile_header_small_bg_column.png
*/
.profile_small_header_bg {
    background-image: none !important;
    margin-bottom: -9px !important;
}

.profile_small_header_texture {
    background: #23262e !important;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 30%);
    z-index: 1;
}

/* Improves the title of the global achievements statistics page */
.profile_subpage_column h2 {
    padding-top: 14px !important;
    padding-left: 24px !important;
    color: #1999ff !important;
	font-weight: 500 !important;
	letter-spacing: .02em;
}

.profile_subpage_column h1 {
    padding-left: 24px !important;
    color: #dfe3e6 !important;
    font-weight: 500 !important;
	letter-spacing: .02em;
}

.profile_small_header_additional {
    right: 12px !important;
}

#compareAvatar {
    display: none;
}

.profile_small_header_avatar {
    top: 17px !important;
    left: 17px !important;
}

.profile_small_header_text {
    left: 101px !important;
}

#tsblTitle {
    width: 180px !important;
}

#tsblTitle, #topSummaryAchievements div:first-child {
    color: #dcdedf !important;
}

#tsblVal {
    color: #fff !important;
    line-height: 18px !important;
}

/* Improves the various parts of the achievement rows */
.achieveRow {
    background: #23262e;
}

.achieveImgHolder {
    padding: 10px !important;
    position: absolute;
    z-index: 41;
}

#personalAchieve .achieveImgHolder {
    top: 0 !important;
}

.achieveTxtHolder {
    height: 84px;
    padding: 0 !important;
    border: none !important;
}

.achieveFill {
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    background: #31343e !important;
}

.achieveTxtHolder {
    background: none !important;
}

.achieveTxtHolder:not(#personalAchieve .achieveTxtHolder) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.achieveTxt {
    padding: 0 !important;
    margin-right: auto;
    margin-left: 85px;
}

#personalAchieve .achieveTxt {
    margin-left: 13px;
}

.achieveTxt h3 {
    color: #dcdedf !important;
    font-weight: 500 !important;
}

.achieveTxt h5 {
    color: #a4a8ab !important;
}

.achievePercent {
    margin-left: auto;
    margin-right: 10px !important;
    margin-top: 0 !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 500;
}

.achieveUnlockTime {
    color: #777e86 !important;
}

/* Improve achievement bar */
.achieveBar {
    background: #000 !important;
    border-radius: 2px;
    border: none !important;
    padding: 0 !important;
}

.achieveBarProgress {
    background-color: #2d73ff !important;
    border-radius: 2px;
}